
/* General styling */
body {
    font-family: "Candara", serif;
    background-color: #FEFAE0;
    color: #2D2A2C;
    font-size: .875vw;
    padding: 1.25vw;
}

a {
    color: #283618;
}

.item-img {
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

a:hover {
    color: #606C38;
}

.submit-btn {
    background-color: #BC6C25;
    color: #FEFAE0;
    border: 1px solid #2D2A2C;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

/* Header styling */
.header {
    padding: 1.2vw;
    text-align: left;
}

/* Navigation styling */
.navbar {
    display: flex;
    justify-content: left; 
    align-items: center;
    background-color: #606C38;
    padding: .6vw 1vw;
    border-radius: 1vw;
}

.navbar-items {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.nav-link {
    color: #FEFAE0; /* Text color for navbar links */
    text-decoration: none;
    font-family: "Candara", sans-serif;
    padding: .6vw .75vw; /* Adjust padding as needed */
}

.nav-link:hover {
    background-color: #283618; /* Background color on hover */
    border-radius: 5px; /* Add rounded edges */
}


/* Main page styling */
.sort-options {
    margin-left: 1.5vw;
    padding: .75vw .25vw;
}

.sort-btn {
    background-color: #606C38;
    color: #FEFAE0;
    border: none;
    padding: .6vw 1vw;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px; 
}

.sort-btn:hover {
    background-color: #DDA15E;
}

/* Product card styling */
.product {
    display: inline-block; 
    width: calc(25% - 1vw);
    margin: .6vw; 
    padding: 1.2vw;
    background-color: #FFFFFF;
    border-radius: .6vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center product content */
}

.product img {
    max-width: 100%;
    max-height: 16vw;
}

.product-info {
    text-align: left;
}

.product-info h3 {
    margin-top: .6vw;
    color: #FEFAE0;
}

.product-info p {
    color: #BC6C25;
}

.container {
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between; /* Align items with space between them */
}

#description-container {
    visibility: hidden;
    position: absolute;
    background-color: #FEFAE0;
    border: 1px solid black;
    padding: 1vw;
    z-index: 9999; /* Appears above other content */
    border-radius: .6vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* Cart styling */
.cart-item {
    padding: .6vw;
    background-color: #Ffffff;
    margin: .25vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-item form {
    display: inline-block;
}

.cart-item p {
    margin: .23vw 0;
}

.cart-total {
    font-weight: bold;
}

.cart-button {
    background-color: #606C38;
    color: #FEFAE0;
    border: none;
    padding: .25vw .3vw;
    cursor: pointer;
    border-radius: 5px;
    margin: .2vw;
}

.cart-button:hover {
    background-color: #283618;
}

.clear-button {
    background-color: #C03221;
    color: #FEFAE0;
    border: none;
    padding: .25vw;
    border-radius: 5px;
    margin: .2vw;
}

.cart-buttons {
    display: flex;
    margin: .6vw;
}

/* Checkout form styling */
.checkout-form {
    background-color: #FEFAE0;
    padding: 1vw;
    border-radius: 10px;

}

.checkout-form input[type="text"],
.checkout-form input[type="number"] {
    width: 100%;
    padding: .6vw;
    margin-bottom: .6pw;
    border: 1px solid #DDA15E;
    border-radius: 5px;
}

.checkout-form input[type="submit"] {
    background-color: #BC6C25;
    color: #FEFAE0;
    border: 1px solid #2D2A2C;
    padding: .25vw .3vw;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-form input[type="submit"]:hover {
    background-color: #DDA15E;
}

/* Review form styling */

.review-form {
    margin-top: 20px;
}


.form-group {
    margin-bottom: 20px;
}


.form-group label {
    font-weight: bold;
}


.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Footer styling */
.footer {
    background-color: #606C38;
    padding: 1vw;
    text-align: center;
    color: #FEFAE0;
}

