{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    ODGE CRAFT SUPPLIES
{% endblock %}

{% block navbar %}
<nav class="navbar">
    <img src="{{ url_for('static', filename='banner_full_logo.png') }}" alt="Logo" class="navbar-logo">
    <div class="navbar-items">
        <a href="{{ url_for('main_page') }}" class="nav-link">All Products</a>
        <a href="{{ url_for('cart_page') }}" class="nav-link">Cart</a>
        <!-- Add more navbar links as needed -->
    </div>
</nav>
{% endblock %}

{% block head %}
    {{ super() }}
    <!-- Import custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
{% endblock %}