{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Cart {% endblock %}

{% block content %}
<div class="container">
    {%if cart %}
        <h3>Products in Cart:</h3>
        <ul class="list-unstyled">
            {% for item in cart %}
                <li class="mb-3">
                    <strong>{{ item.product.name }}</strong> - 
                    £{{ item.product.price }} - 
                    Quantity: {{ item.quantity }}
                    <form action="{{ url_for('remove_from_cart') }}" method="POST" style="display: inline;">
                        <input type="hidden" name="index" value="{{ loop.index0 }}">
                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form>
                    <form action="{{ url_for('reduce_quantity') }}" method="POST" style="display: inline;">
                        <input type="hidden" name="index" value="{{ loop.index0 }}">
                        <button type="submit" class="btn btn-warning btn-sm">Reduce Quantity</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <p>Total Cost: £{{ total_cost }}</p>
        <a href="{{ url_for('checkout_page') }}" class="btn btn-primary">Checkout</a>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %} 
</div>
{% endblock %}