{% extends "base.html" %}
    
{% block content %}
    <h1>Online Shop</h1>
    <ul>
        {% for i in range(0, len) %}
            <a href="{{ url_for('single_product_page', product_id = i)}}">
                <img src="{{url_for('static', filename= products[i].image_name ) }}" alt= "{{ products[i].name }}" width="300"/>
            </a>
            <li><a href="{{ url_for('single_product_page', product_id = i)}}">{{ products[i].name }}</a> - £{{ products[i].price }} - {{ products[i].description }}</li>
        {% endfor %}
{% endblock %}
