{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Cart {% endblock %}

{% block content %}
    <h3 class="header">Products in Cart:</h3>
    {%if cart %}
        <ul>
            {% for item in cart %}
            <li class="cart-item">
                <strong>{{ item.product.name }}</strong> - £{{ item.product.price }} - Quantity: {{ item.quantity }}
                {% if item["variation"]%}
                    <span style="text-transform: capitalize;"> - Color: {{item.variation.color}} </span>
                {% endif%}
                <form action="{{ url_for('remove_from_cart') }}" method="POST">
                    <button type="submit" name="product_id" class="cart-button" value="{{ loop.index0 }}" style="background-color: #445128; border: 1px solid #2D2A2C;">Remove</button>
                </form>
                <form action="{{ url_for('reduce_quantity') }}" method="POST">
                    <button type="submit" name="product_id" class="cart-button" value="{{ loop.index0 }}">Reduce Quantity</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <p class="cart-total">Total Cost: £{{ total_cost }}</p>
        <div class="cart-buttons">
            <a href="{{ url_for('checkout_page') }}" class="submit-btn">Checkout</a>
            <form action="{{ url_for('clear_cart') }}" method="post">
                <button type="submit" class="clear-button">Clear Cart</button>
            </form>
        </div>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %} 
</div>
{% endblock %}