{% extends "base.html" %}
    
{% block content %}
    <div class="sort-options">
        <form action="{{ url_for('main_page') }}" method="GET">
            <button type="submit" name="sort_by" value="name" class="sort-btn">Sort by Name</button>
            <button type="submit" name="sort_by" value="environmental_rating" class="sort-btn">Sort by Environmental Rating</button>
            <button type="submit" name="sort_by" value="price" class="sort-btn">Sort by Price</button>
            
        </form>
    </div>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="product">
                    <a href="{{ url_for('single_product_page', product_id = product.id)}}" class="product-link" data-product-id="{{ product.id }}">
                        <img src="{{ url_for('static', filename= product.image_name ) }}" alt="{{ product.name }}" width="300"/>
                    </a>
                    <div class="product-info">
                        <h3><a href="{{ url_for('single_product_page', product_id=product.id)}}" class="product-link" data-product-id="{{ product.id }}">{{ product.name }}</a></h3>
                        <p class="product-price">Price: £{{ product.price }}</p>
                        <p> Environmental Rating: {{product.environmental_rating}}</p>
                    </div>


                    <form action="{{ url_for('single_product_page', product_id=product.id) }}" method="POST">
                        {{ form.csrf_token }}
                        <input type="number" name="cart" value="1" min="1">
                        <button type="submit" class="submit-btn">Add to Cart</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            product_links = document.querySelectorAll('.product-link');

            product_links.forEach(link => {
                link.addEventListener('mouseover', async (event) => {
                    const productId = event.target.dataset.productId;
                    description_container = document.getElementById('description-container');

                    // Make AJAX request to fetch description
                    const response = await fetch(`/get_description/${productId}`);
                    const data = await response.json();

                    // Display description
                    description_container.innerHTML = data.description;

                    // Position description on mouse pointer
                    description_container.style.left = event.pageX + 'px';
                    description_container.style.top = event.pageY + 'px';

                    // Make description container visible
                    description_container.style.visibility = 'visible';
                });

                link.addEventListener('mouseout', () => {
                    // Clear description when mouse leaves the item
                    description_container.innerHTML = '';
                    description_container.style.visibility = 'hidden';
                });
            });
        });
    </script>
            
        
{% endblock %}
