{% extends "base.html" %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <img src="{{url_for('static', filename= product.image_name ) }}" alt= "{{ product.name }}" class="item-img"/>
    <p>Price: £{{ product.price }}</p>
    <p>{{ product.description }}</p>
    <p>Environmental Rating: {{ product.environmental_rating }}</p>
    <p>{{ product.environmental_description }}</p>

    <div>
        <form action="{{ url_for('single_product_page', product_id=product.id) }}" method="POST">
            {{ cart_form.csrf_token }}
            <input type="number" name="cart" value="1" min="1">
            <button type="submit" class="submit-btn">Add to Cart</button>
        </form>
    </div>

    <!-- Review Form -->
    <div>
         <!-- Add button to view reviews -->
        <form action="{{ url_for('view_reviews', product_id=product.id) }}" method="get">
            <button type="submit" class="submit-btn">View Reviews</button>
        </form>
        <h2>Leave a Review</h2>
        <form class="review-form" method="post">
            {{ wtf.quick_form(review_form, form_type="horizontal") }}
    </div>
{% endblock %}
